@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#0000008e , #0000008e) , url(../../img/home2.png);
    background-size: cover;
}

.logo{
    position: absolute;
    top: 22px;
    left: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 48px;
}



.container{
    width: 440px;
    padding: 40px 32px;
    border-radius: 8px;
    background-color: #ffffffcb;
    box-shadow: #fa12162f 0px 7px 29px 0px;
}

.container h1{
    font-size: 1.6rem;
}

.container .social-login{
    display: flex;
    gap: 16px;
    margin-top: 20px;
}

.container .social-login button{
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 1rem;
    font-weight: 700;
    color: #ff2a1fb0;
    border: 1px solid #ff2a1f48;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container .social-login button i{
    font-size: 26px;
}

.container .social-login button:hover{
    color: #ff2c1f;
    border-color: #ff2c1f;
}

.container .divider{
    display: flex;
    align-items: center;
    gap: 20px;
}

.container .divider .line{
    height: 1px;
    width: 100%;
    background: #1d1d1d;
    opacity: 0.2;
    margin: 30px 0 16px;
}

.container form label{
    color: #1d1d1d;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.03rem;
    display: block;
    margin-top: 12px;
}

.container form .custome-input{
    position: relative;
}

.container form .custome-input input{
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    height: 46px;
    letter-spacing: 0.03rem;
    border: 1px solid #1d1d1d;
    background: transparent;
    outline: none;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 6px;
    transition: all 0.3s ease;
}

.container form .custome-input input:focus{
    border-color: #ff2c1f;
}

.container form .custome-input i{
    position: absolute;
    font-size: 28px;
    right: 10px;
    top: 14px;
    transition: all 0.3s ease;
}

.container form .custome-input input:focus + i{
    color: #ff2c1f;
}

.container form .login{
    width: 100%;
    margin-top: 30px;
    background: #ff2c1f;
    color: #fff;
    border: none;
    line-height: 50px;
    font-size: 18px;
    letter-spacing: 0.025em;
    cursor: pointer;
    font-weight: 800;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.container form .login:hover{
    background: #ff2c1f;
}

.container .links{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.container .links a{
    color: #ff2c1f;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    text-underline-offset: 6px;
    text-decoration-color: #ff2c1f;
}

.container .links a:hover{
    text-decoration: underline;
}

.error_message{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff2a1fa6;
    color: #000000;
    border-radius: 5px;
}